* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.heder {
  text-align: center;
  width: 100%;
  background-color: #ccc;
  border-bottom: 5px solid white;
  margin-top: -5px;
  background-color: #8e44ad;
  padding: 10px;
  color: white;
  font-size: 30px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.55);
}

.fa-calendar-check {
  float: left;
}
.new {
  margin-top: 10px;
}

.name {
  width: 90%;
  height: 30px;
  padding: 5px;
}

.content {
  width: 90%;
  height: 150px;
  resize: none;
  margin-top: 5px;
  padding: 5px;
}

.btnCrear {
  width: 90%;
  height: 30px;
}

.tasks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
  width: 500px;
  margin: auto;
  flex-wrap: wrap;
}

.task {
  background-color: white;
  width: 240px;
  height: 250px;
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  &:hover {
    -webkit-box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.75);
    transform: scale(1.02);
    cursor: pointer;
  }
}

.task p {
  text-align: justify;
  margin: auto;
  padding: 10px;
  word-wrap: break-word;
  width: 200px;
  height: 150px;
}
.fa-star {
  float: left;
}
.title {
  text-align: center;
  word-wrap: break-word;
  text-transform: uppercase;
}

.btnDelete {
  width: 25px;
  height: 25px;
  float: right;
  cursor: pointer;
  border: none;
}

.toask {
  border: 1px solid green;
  width: auto;
  background-color: #d5f5e3;
  color: green;
  font-weight: 700;
  padding: 10px;
  text-align: center;
  position: fixed;
  right: 20px;
  border-left: 5px solid green;
  bottom:10px;
  display: none;
}

.fechaTask {
  text-align: center;
  margin-top: 40px;
}
